#credits {                      
    text-align: center;         
    font-style: italic;         
}

.headers_of_p {                 
    font-weight: bold;          
}

.paragraph {                    
    font-size: 16pt             
}